parameters:
    level: 7
    checkExplicitMixedMissingReturn: false
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - ./build/stubs.php
    excludePaths:
        - **/node_modules/*
        - **/vendor/*
        - **/tests/*
        - src/Infrastructure/Services/Assets/AssetLoader.php
        - !**/*.php
    paths:
        - ./src
