<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="MCP">
            <directory>tests/MCP/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/MCP/</directory>
            <directory>src/Rest/</directory>
        </include>
    </source>
</phpunit>
